<!DOCTYPE html>
<html>
  <head>
    <title>Omniauthapp</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <div class="flash_message alert alert-<%= key %> <%= key == 'notice' ? 'flash_notice' : 'flash_error' %> %>">
      <%= value %>
    </div>
  <% end %>
  <%= yield %>
  </body>
</html>
